@font-face {
    font-family: 'Metropolis';
    src: url('metropolis-bold-webfont.eot');
    src: url('metropolis-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('metropolis-bold-webfont.woff2') format('woff2'),
         url('metropolis-bold-webfont.woff') format('woff'),
         url('metropolis-bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('metropolis-regular-webfont.eot');
    src: url('metropolis-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('metropolis-regular-webfont.woff2') format('woff2'),
         url('metropolis-regular-webfont.woff') format('woff'),
         url('metropolis-regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('metropolis-semibold-webfont.eot');
    src: url('metropolis-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('metropolis-semibold-webfont.woff2') format('woff2'),
         url('metropolis-semibold-webfont.woff') format('woff'),
         url('metropolis-semibold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('sourcesanspro-bold-webfont.eot');
    src: url('sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-bold-webfont.woff2') format('woff2'),
         url('sourcesanspro-bold-webfont.woff') format('woff'),
         url('sourcesanspro-bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'SourceSansPro';
    src: url('sourcesanspro-regular-webfont.eot');
    src: url('sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('sourcesanspro-regular-webfont.woff') format('woff'),
         url('sourcesanspro-regular-webfont.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansPro-italic';
    src: url('sourcesanspro-italic-webfont.woff2') format('woff2'),
         url('sourcesanspro-italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('sourcesanspro-semibold-webfont.eot');
    src: url('sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('sourcesanspro-semibold-webfont.woff2') format('woff2'),
         url('sourcesanspro-semibold-webfont.woff') format('woff'),
         url('sourcesanspro-semibold-webfont.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'ibm_plex';
    src: url('ibmplexmono-bold-webfont.woff2') format('woff2'),
         url('ibmplexmono-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'ibm_plex';
    src: url('ibmplexmono-regular-webfont.woff2') format('woff2'),
         url('ibmplexmono-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'ibm_plex';
    src: url('ibmplexmono-semibold-webfont.woff2') format('woff2'),
         url('ibmplexmono-semibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}

