:root {
    /* Colors */
    --color-darkestBlue: #13182A;
    --color-darkBlue: #222E4D;
    --color-blue: #263867;
    --color-lightBlue: #C6CFE7;
    --color-darkPurple: #3E315E;
    --color-purple: #687BF7;
    --color-gray: #A19F9F;
    --color-almostWhite: #F0F0F0;

    /* Opacity colors */
    --color-darkestBlue-10opacity: #696969;
    --color-gray-10opacity: #E6E7EA;

    --gradient-purple-direct: linear-gradient(180deg, #8050EF 0%, #687BF7 100%);

    /* Fonts */
    --font-family-primary: 'SourceSansPro', sans-serif;
    --font-family-secondary: 'Metropolis', normal;

    /* Font sizes */
    --font-size-h1: 2rem;      /* 32px */
    --font-size-h2: 1.375rem;  /* 22px */
    --font-size-h3: 1.125rem;  /* 18px */
    --font-size-h4: 1rem;      /* 16px */
    --font-size-p:  1rem;      /* 16px */

    /* Line heights */
    --line-height-h1: 2.5rem;  /* 40px */
    --line-height-h2: 1.75rem; /* 26px */
    --line-height-h3: 1.25rem; /* 20px */
    --line-height-p: 1.4rem;   /* 22px */

    --gradient-darkBlue: linear-gradient(180deg, #13182A 0%, #222E4D 57.62%, #263867 100%);
    --gradient-purple: linear-gradient(180deg, #13182A 22.92%, #3E315E 100%), #13182A;
}