:root {
  /* Colors */
  --color-darkestBlue: #13182a;
  --color-darkBlue: #222e4d;
  --color-blue: #263867;
  --color-lightBlue: #c6cfe7;
  --color-darkPurple: #3e315e;
  --color-purple: #687bf7;
  --color-cornFlowerHard: #5362c4;
  --color-tellurian: #2bca40;
  --color-gray: #a19f9f;
  --color-almostWhite: #f0f0f0;
  --color-yellow-label: #e7e5c6;
  --color-eventHorizon: #f94848;

  --color-base-slate: #7c91a7;
  --color-base-lilac: hsla(258, 83%, 63%, 1);

  /* Opacity colors */
  --color-darkestBlue-10opacity: #696969;
  --color-gray-10opacity: #e6e7ea;

  /* Fonts */
  --font-family-primary: 'SourceSansPro', sans-serif;
  --font-family-secondary: 'Metropolis', normal;

  /* Font sizes */
  --font-size-h1: 4.5rem; /* 72px */
  --font-size-h2: 3.25rem; /* 52px */
  --font-size-h3: 2.5rem; /* 40px */
  --font-size-h4: 1.5rem; /* 24px */
  --font-size-h5: 1.25rem; /* 20px */
  --font-size-p: 1.125rem; /* 18px */

  /* Line heights */
  --line-height-h2: 4rem; /* 64px */

  /* Gradients */
  --gradient-darkBlue: linear-gradient(180deg, #13182a 0%, #222e4d 57.62%, #263867 100%);
  --gradient-purple: linear-gradient(180deg, #13182a 22.92%, #3e315e 100%), #13182a;
  --gradient-purple-direct: linear-gradient(180deg, #8050ef 0%, #687bf7 100%);
  --gradient-deep-sky: linear-gradient(
    180deg,
    #111f31 0%,
    #0d0d0d 2.54%,
    #040f1d 17.71%,
    #080e15 43.23%,
    #0a2445 59.16%,
    #000000 97.4%
  );
}
